<section class="hero">
    <div class="img-wrapper">
        <img src="{{ background }}" alt="{{ title }}">
    </div>
    <div class="container">
        <div class="text-wrapper">
            <h4>{{ overtitle }}</h4>
            <h1>{{ title }}</h1>
            <h2>{{ subtitle }}</h2>
            <h3>{{ desc }}</h3>
        </div>
    </div>
</section>